.card-btn{
    background-color: white !important; 
    color:#333 !important;
}
#addClientForm h3> i{
    vertical-align: middle;
    font-size: 30px;
}
#addClientForm button{
    height: 30px;
    padding-top: 0px;
    padding-bottom:0px;
    vertical-align: middle;
}
#addClientForm input{
    border:solid 1px rgb(200,200,200);
    padding: 3px;
    padding-left: 5px;
    border-radius: 3px;
}
.ReqLoanCards{
    padding:2em;
    padding-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}
a.btnRLEdit{
    border:solid;
    border-width: 1px;
    padding:5px;
    border-radius: 15px;
}
a.btnRLEdit:hover{
    color:white;
    background-color:#9c27b0;
    border-color: #9c27b0;
}
.editPageTable select, .editPageTable textarea{
    padding:2px;
    border-color: rgb(180,180,180);
    border-radius: 3px;
}
.editPageTable textarea{
    width:250px;
}
.btn-submit{
    color:#9c27b0;
    background-color: white;
    border-color:#9c27b0;
}
#addClientForm{
    display: none;
}
